body {

    width: 50%;
    font-family: Georgia, serif;
    margin:auto;
    margin-top: 3.0em;
}

a{
    color:#000000; /*black*/

}
a:hover{
    color:#ffffff;/*white*/
}

h1{
    text-decoration : underline;

}
#first_div_with_ID{

    background-color: #196de7;
    color: white;
}